main .sidebar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--body-font-size-xs);
}

main .sidebar > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
  align-items: baseline;
  padding: 0.75rem 0;
  border-bottom: 1px solid rgb(0 70 150 / 15%);
}

main .sidebar > div:first-child {
  padding-top: 0;
}

main .sidebar > div:last-child {
  border-bottom: none;
}

main .sidebar .sidebar-label {
  margin: 0;
  font-weight: 700;
  color: var(--text-color);
}

main .sidebar .sidebar-value {
  margin: 0;
  font-weight: 400;
  color: var(--text-color);
}

main .sidebar .sidebar-value a {
  font-weight: 600;
}
